.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 100px;
}

.about-texts {
    max-width: 560px;
    width: 100%;
    text-align: justify;
}

.about-texts h2 {
    margin: 2rem 0 1rem 0;
}

.about img {
    width: 17rem;
}

@media screen and (max-width: 900px) {
    .about {
        flex-direction: column-reverse;
    }

    .about-texts {
        max-width: unset;
        text-align: left;
    }

    .about-texts h2 {
        margin: 1rem 0 .5rem 0;
    }
}

@media screen and (max-width: 500px) {
    .about img {
        width: 75%;
    }
}